
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pingbandiannao:before { content: "\e61a"; }
.icon-xianshiqi:before { content: "\e61b"; }
.icon-dianshiji:before { content: "\e61c"; }
.icon-shouji:before { content: "\e61d"; }
.icon-shejishi:before { content: "\e61f"; }
.icon-biaoshengbang:before { content: "\e620"; }
.icon-guanliyuan:before { content: "\e621"; }
.icon-xifen:before { content: "\e622"; }
.icon-shouye:before { content: "\e623"; }
.icon-sousuo:before { content: "\e634"; }
.icon-wancheng:before { content: "\e624"; }
.icon-yingyong:before { content: "\e625"; }
.icon-tuwenxiangqing:before { content: "\e61e"; }
.icon-xinhao:before { content: "\e626"; }
.icon-html5:before { content: "\e635"; }
.icon-guanbi:before { content: "\e601"; }
.icon-dingwei:before { content: "\e602"; }
.icon-qq:before { content: "\e603"; }
.icon-yiguanzhu:before { content: "\e636"; }
.icon-weiguanzhu:before { content: "\e637"; }
.icon-zhengque:before { content: "\e60e"; }
.icon-questionfill:before { content: "\e60a"; }
.icon-question:before { content: "\e60b"; }
.icon-dianhua:before { content: "\e604"; }
.icon-friendadd:before { content: "\e633"; }
.icon-infofill:before { content: "\e60c"; }
.icon-info:before { content: "\e60d"; }
.icon-cooperation:before { content: "\e62c"; }
.icon-sousuo1:before { content: "\e638"; }
.icon-leijipingjia:before { content: "\e639"; }
.icon-rencaishoucang:before { content: "\e640"; }
.icon-jiantou:before { content: "\e60f"; }
.icon-gengduo:before { content: "\e619"; }
.icon-pingbandiannao1:before { content: "\e612"; }
.icon-weixin:before { content: "\e605"; }
.icon-xuanchuanhuodong:before { content: "\e641"; }
.icon-email:before { content: "\e606"; }
.icon-tel24:before { content: "\e62a"; }
.icon-yewutuijian:before { content: "\e642"; }
.icon-diannao:before { content: "\e613"; }
.icon-iconmonstrpaintbrush7icon:before { content: "\e62d"; }
.icon-dingwei1:before { content: "\e63e"; }
.icon-baojifuben2:before { content: "\e63d"; }
.icon-xinlang:before { content: "\e607"; }
.icon-tiyanbiao:before { content: "\e62e"; }
.icon-31shoucangxuanzhong:before { content: "\e63a"; }
.icon-31shoucang:before { content: "\e63b"; }
.icon-31xiaoxi:before { content: "\e63c"; }
.icon-31shouqi:before { content: "\e631"; }
.icon-31xiala:before { content: "\e632"; }
.icon-31fanhui1:before { content: "\e608"; }
.icon-31fanhui2:before { content: "\e609"; }
.icon-iconfontzhankai:before { content: "\e63f"; }
.icon-yingxiaoguanli:before { content: "\e614"; }
.icon-mac:before { content: "\e611"; }
.icon-android:before { content: "\e617"; }
.icon-windows8:before { content: "\e618"; }
.icon-kefu:before { content: "\e62b"; }
.icon-rounddown:before { content: "\e600"; }
.icon-renzheng:before { content: "\e615"; }
.icon-gongzuoliuchengtu:before { content: "\e627"; }
.icon-shouji1:before { content: "\e616"; }
.icon-tiyanzhongxin:before { content: "\e628"; }
.icon-gzgt:before { content: "\e643"; }
.icon-shengchanyewu:before { content: "\e644"; }
.icon-zuojiantou:before { content: "\e610"; }
.icon-anquan:before { content: "\e62f"; }
.icon-track:before { content: "\e629"; }
.icon-huojian:before { content: "\e630"; }
.icon-qiye:before { content: "\e645"; }
.icon-touzi:before { content: "\e646"; }
