@charset "utf-8";
/* CSS Document */

html{ height:100%;}
body{ height:100%; position:relative;}


.zt_hmj-01{ height:597px; background:#fff6de;}
.zt_hmj-01 .inner{ background:url(../images/zt_hmj-01.jpg) no-repeat center top;}

.zt_hmj-02{ height:368px; background:#fff6de; }
.zt_hmj-02 .inner{  background:url(../images/zt_hmj-02.jpg) no-repeat center top; }

.zt_hmj-03{ height:519px; background:#fff6de;}
.zt_hmj-03 .inner{ background:url(../images/zt_hmj-03.jpg) no-repeat center top;}

.zt_hmj-04{ height:360px; background:#6c1307;}
.zt_hmj-04 .inner{ background:url(../images/zt_hmj-04.jpg) no-repeat center top;}


































