
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot'); /* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixiao:before { content: "\e635"; }
.icon-ma:before { content: "\e636"; }
.icon-xiala:before { content: "\e634"; }
.icon-zuoji:before { content: "\e648"; }
.icon-edit:before { content: "\e64b"; }
.icon-favorfill:before { content: "\e602"; }
.icon-favor:before { content: "\e603"; }
.icon-locationfill:before { content: "\e604"; }
.icon-location:before { content: "\e605"; }
.icon-phone:before { content: "\e644"; }
.icon-roundcheckfill:before { content: "\e606"; }
.icon-roundcheck:before { content: "\e607"; }
.icon-roundclosefill:before { content: "\e608"; }
.icon-roundclose:before { content: "\e609"; }
.icon-search:before { content: "\e60a"; }
.icon-unfold:before { content: "\e63b"; }
.icon-camerafill:before { content: "\e60b"; }
.icon-camera:before { content: "\e60c"; }
.icon-commentfill:before { content: "\e641"; }
.icon-comment:before { content: "\e642"; }
.icon-likefill:before { content: "\e60d"; }
.icon-like:before { content: "\e60e"; }
.icon-pay:before { content: "\e60f"; }
.icon-back:before { content: "\e610"; }
.icon-list:before { content: "\e611"; }
.icon-more:before { content: "\e612"; }
.icon-myfill:before { content: "\e613"; }
.icon-my:before { content: "\e600"; }
.icon-settings:before { content: "\e614"; }
.icon-questionfill:before { content: "\e615"; }
.icon-question:before { content: "\e616"; }
.icon-form:before { content: "\e643"; }
.icon-pic:before { content: "\e617"; }
.icon-right:before { content: "\e618"; }
.icon-deletefill:before { content: "\e619"; }
.icon-delete:before { content: "\e61a"; }
.icon-profile:before { content: "\e61b"; }
.icon-home:before { content: "\e61c"; }
.icon-homefill:before { content: "\e61d"; }
.icon-message:before { content: "\e65b"; }
.icon-addressbook:before { content: "\e61e"; }
.icon-lock:before { content: "\e61f"; }
.icon-unlock:before { content: "\e620"; }
.icon-friendaddfill:before { content: "\e621"; }
.icon-friendadd:before { content: "\e622"; }
.icon-friendfamous:before { content: "\e623"; }
.icon-friend:before { content: "\e624"; }
.icon-squarecheckfill:before { content: "\e654"; }
.icon-square:before { content: "\e655"; }
.icon-squarecheck:before { content: "\e656"; }
.icon-round:before { content: "\e657"; }
.icon-roundaddfill:before { content: "\e658"; }
.icon-roundadd:before { content: "\e659"; }
.icon-fold:before { content: "\e63c"; }
.icon-similar:before { content: "\e63d"; }
.icon-infofill:before { content: "\e625"; }
.icon-info:before { content: "\e626"; }
.icon-rechargefill:before { content: "\e63e"; }
.icon-recharge:before { content: "\e63f"; }
.icon-vipcard:before { content: "\e640"; }
.icon-sort:before { content: "\e637"; }
.icon-mobile:before { content: "\e645"; }
.icon-mobilefill:before { content: "\e646"; }
.icon-copy:before { content: "\e653"; }
.icon-upstagefill:before { content: "\e627"; }
.icon-upstage:before { content: "\e601"; }
.icon-rankfill:before { content: "\e638"; }
.icon-rank:before { content: "\e639"; }
.icon-friendfill:before { content: "\e628"; }
.icon-weixin:before { content: "\e64e"; }
.icon-markfill:before { content: "\e629"; }
.icon-mark:before { content: "\e62a"; }
.icon-album:before { content: "\e62b"; }
.icon-peoplefill:before { content: "\e62c"; }
.icon-people:before { content: "\e62d"; }
.icon-repair:before { content: "\e62e"; }
.icon-repairfill:before { content: "\e62f"; }
.icon-sfsiconzongjiangjin:before { content: "\e633"; }
.icon-dashang:before { content: "\e632"; }
.icon-attentionfill:before { content: "\e64c"; }
.icon-attention:before { content: "\e64d"; }
.icon-community:before { content: "\e65a"; }
.icon-read:before { content: "\e63a"; }
.icon-tagfill:before { content: "\e64a"; }
.icon-tag:before { content: "\e647"; }
.icon-dianhua:before { content: "\e650"; }
.icon-dianhua1:before { content: "\e651"; }
.icon-radiobox:before { content: "\e630"; }
.icon-radioboxfill:before { content: "\e631"; }
.icon-weixindingyuehao:before { content: "\e64f"; }
.icon-profilefill:before { content: "\e649"; }
.icon-dianhua2:before { content: "\e652"; }
