/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
/*.mui-android header.mui-bar{
	display: none;
}
.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}*/

html,body {background-color: #efeff4;}
a{ /*color:#28a3f5;*/color:#329fc9;}

.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}
.mb10{ margin-bottom:10px;}
.mb20{ margin-bottom:20px;}
p{line-height:22px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; overflow:hidden;}
.font12{ font-size:12px;}
.txt-l{ text-align:left;}
.txt-c{ text-align:center;}
.txt-r{ text-align:right;}
.txt-white{ color:#fff;}
.txt-333{ color:#333;}
.txt-666{ color:#666;}
.txt-888{ color:#888;}
.txt-red{ color:#ff4747;}
.txt-green{ color:#39c219;}
.txt-blue{ color:#329fc9;}
.txt-yellow{ color:#f39800;}
.txt-black{ color:#333;}
.ease-1{
-webkit-transition:all 0.1s ease-out;
-khtml-transition:all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;}
.ease-3{
-webkit-transition:all 0.3s ease-out;
-khtml-transition:all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;}
.mui-badge-white{color: #f39800;background-color: #fff;}

/*头部ui*/
header.mui-bar{ background:#333; color:#fff;}
header.mui-bar .mui-title{ color:#fff;}
header.mui-bar a{ color:#fff;}
header.mui-bar .mui-btn-link {color: #fff;}

.mui-segmented-control-tab{ background:#fff; color:#888;}
.mui-segmented-control-tab.mui-segmented-control-inverted .mui-control-item.mui-active {color: #222;border-bottom: 2px solid #f39800;background: 0 0;}


/*控件ui*/
.mui-btn-block{ padding:5px;}
.mui-btn-outlined {background-color: #fff;}
.mui-badge-danger, .mui-badge-red {color: #fff;background-color: #f33900;}
.mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn) {margin-right: -65px;}
input:disabled, textarea:disabled{ background:#f8f8f8;}
.mui-btn.btn-select:active{ background:none !important;}

/*选项卡和筛选排序ui*/
.mui-segmented-control-tab~.mui-content.mui-content{ padding-top:44px;}
.mui-segmented-control-tab~.sortandsearch~.mui-content.mui-content{ padding-top:88px;}
.mui-bar-nav~.mui-segmented-control-tab~.sortandsearch~.mui-content.mui-content{ padding-top:132px;}
.mui-segmented-control-tab{ position:fixed; right:0px; left:0px; top:0px; bottom:auto; height:40px; line-height:40px; font-size:14px;}
.sortandsearch{ position:fixed; left:0; right:0; bottom:auto; background:#fff; height:44px;border-bottom:1px #c8c7cc solid;border-top:1px #c8c7cc solid; z-index:2; }
.sortandsearch .sort-item{ display:inline-block; width:24%; text-align:center; line-height:44px; font-size:14px; color:#333;}
.sortandsearch .sort-item .iconfont{ color:#f39800;}
.sortandsearch .mui-search{ width:48%; position:absolute; right:5px; top:5px;}
.mui-focusin .sortandsearch .sort-item{ display:none;}
.mui-focusin .mui-search{ width:100%; right:0; padding:0 5px;}


/*弹出ui（下拉）*/
.mui-popover{ border-radius:0;}
.mui-popover .mui-scroll-wrapper { border-radius:0;}
.mui-popover.popover-xiala{ min-height:200px;  width:310px;}
.popover-xiala .cur{ color:#f39800;}



/*合同列表*/
.list-hetong{ background:#efeff4;}
.list-hetong .list-hetong-item{ position:relative; border-bottom:1px #c8c7cc solid; margin-bottom:10px; background:#fff;}
.list-hetong .list-hetong-item .operate{ padding:5px 10px; line-height:1.42;}
.list-hetong .list-hetong-item .operate .txt{ padding:6px 10px 6px 0px;}

/*团队内部评价*/
.list-pingjia{ background:none;}
.list-pingjia .list-pingjia-item{position: relative;overflow: hidden;padding: 11px 15px 0;-webkit-touch-callout: none; margin-bottom:10px; background:#fff; border-bottom:1px #e3e2e5 solid;border-top:1px #e3e2e5 solid;}
.list-pingjia .list-pingjia-item .avatar{  overflow:hidden;}
.list-pingjia .list-pingjia-item .avatar img{width:70px; height:70px;}
.list-pingjia .list-pingjia-item .mui-radio{ height:50px; width:68px; position:absolute; top:60px; padding:0;}
.list-pingjia .list-pingjia-item .mui-radio.mui-active{ background:none;}
.list-pingjia .list-pingjia-item .mui-radio:after{ height:0;}
.list-pingjia .list-pingjia-item .mui-radio label {padding:30px 15px 10px;}
.list-pingjia .list-pingjia-item .heart-red{ right:20px;}
.list-pingjia .list-pingjia-item .heart-black{ left:20px;}
.list-pingjia .list-pingjia-item .mui-radio input[type=radio]:before {font-family: iconfont;content: '\e60e';}
.list-pingjia .list-pingjia-item .mui-radio input[type=radio]:checked:before {content: '\e60d';}
.list-pingjia .list-pingjia-item .heart-red input[type=radio]:before{ color:#ff4747; }
.list-pingjia .list-pingjia-item .heart-black input[type=radio]:before{ color:#333;}
.list-pingjia .list-pingjia-item .heart-red input[type=radio]:checked:before{ }
.list-pingjia .list-pingjia-item .heart-black input[type=radio]:checked:before{ }
.list-pingjia .list-pingjia-item .num-row{ display:none; border-bottom:1px #c8c7cc solid;}



/*排名列表*/
.list-paiming{}
.avatar-radius{ border-radius:50%;}
.list-paiming-item .paiming-num{ line-height:80px; position:absolute; left:5px; top:0; width:40px; text-align:center;}
.list-paiming-item .paiming-num-1{ background:#f33900; color:#fff;}
.list-paiming-item .paiming-num-2{ background:#f37200; color:#fff;}
.list-paiming-item .paiming-num-3{ background:#f39800; color:#fff;}
.list-paiming-item .paiming-canshu{ position:absolute; right:5px; top:11px; padding:5px 0;}
.list-paiming-item .mui-table{ padding:0 30px;}
.list-paiming-item .mui-media-object{ width:60px; max-width:60px; height:60px;  overflow:hidden;}
.paiming-my{ position:fixed; left:0; right:0; top:auto; bottom:50px; padding:0; height:50px;}
.paiming-my .paiming-num{ line-height:50px;}
.paiming-my .paiming-canshu{ top:8px;}

@-webkit-keyframes water{
	from{ background-position:-100%  50px;}
	100%{background-position: 100% 50px;}
}
@-moz-keyframes water{
	from{ background-position:-100%  50px;}
	100%{background-position: 100% 50px;}
}
@-ms-keyframes water{
	from{ background-position:-100%  50px;}
	100%{background-position: 100% 50px;}
}
@-o-keyframes water{
	from{ background-position:-100%  50px;}
	100%{background-position: 100% 50px;}
}
@keyframes water{
	from{ background-position:-100%  50px;}
	100%{background-position: 100% 50px;}
}
.money-pool{ background-image:url(../images/water.png); background-repeat:repeat-x; background-size:40%;
-webkit-animation:water 8s infinite linear;
	-moz-animation:water 8s infinite linear;
	-ms-animation:water 8s infinite linear;
	-o-animation:water 8s infinite linear;
	animation:water 8s infinite linear;}
.money-pool .clearfix{ padding: 15px 10px;}
.money-pool p{ color:#935c00;}
.list-moneypool h4{ line-height:1.3;}


/*知识库*/
.list-zhishiku{ background:#efeff4;}
.list-zhishiku .list-zhishiku-item{ position:relative;  background:#fff;}
.list-zhishiku .list-zhishiku-item .mui-media-object{ width:80px; max-width:80px; height:80px;}
.list-zhishiku .list-zhishiku-item .title{ font-weight:bold;}
.list-zhishiku .list-zhishiku-item .desc{ line-height:18px; margin-bottom:5px;}
.list-zhishiku .list-zhishiku-item .info{}
.list-zhishiku .list-zhishiku-item .info .price{ font-size:16px;}

/*我的*/
.page-my .headavatar{ height:150px; padding-top:20px; background-image:url(../images/my-bg.jpg); background-position:center; background-size:cover; color:#fff;}
.page-my .headavatar .avatar-radius{ width:60px; height:60px;}
.page-my .totel{ border-bottom:1px #c8c7cc solid; overflow:hidden; background:#fff;}
.page-my .totel-item{ display:inline-block; float:left; width:50%; text-align:center; box-sizing:border-box; border-right:1px #c8c7cc solid; padding:11px 15px;}
.page-my .icon-pay{ color:#fa4c06;}
.page-my .icon-addressbook{ color:#009af3;}
.page-my .icon-copy{ color:#ffc000;}
.page-my .icon-message{ color:#71c244;}
.page-my .icon-friend{ color:#37729f;}
.page-my .icon-friendfamous{ color:#abcc00;}
.page-my .icon-profile{ color:#f39800;}
.page-my .mui-table-view{ margin-bottom:20px;}
.page-my .mui-scroll .mui-table-view:last-child{ margin-bottom:0px;}







